@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #CF2B2B;
    --font-color: #FFFFFF;
    --font-righteous: 'Righteous', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

html, body {
    box-sizing: border-box;
    background-color: #EEEEEE;
}

.top-bar{
    background-color: var(--primary-color);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 92px;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.top-bar-h1{
    font-family: var(--font-righteous);
    font-size: 44px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.012em;
    text-align: left;
    margin-left: 5%;
}

.top-bar-h3{
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    margin-left: 5%;
}

.content{
    margin-top: calc(92px + 31px);
    margin-bottom: calc(92px + 31px);
}

.itens{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    position: relative;
    justify-content: space-evenly;
    gap: 2%;
    padding: 0 5%;
    margin-top: 2%;
}

.header-itens{
    font-family: var(--font-righteous);
    font-size: 26px;
    font-weight: 400;
    line-height: 32.28px;
    letter-spacing: 0.018em;
    text-align: left;
    margin-left: 5%;
}

.header-itens-2{
    font-family: var(--font-righteous);
    font-size: 26px;
    font-weight: 400;
    line-height: 32.28px;
    letter-spacing: 0.018em;
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.header-itens-3{
    font-family: var(--font-righteous);
    font-size: 26px;
    font-weight: 400;
    line-height: 32.28px;
    letter-spacing: 0.018em;
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.item{
    display: flex;
    font-family: var(--font-roboto);
    border-radius: 9px;
    border: 1px;
    border-color: #FFFFFF;
    box-shadow: none;
    opacity: 0px;
    background-color: #FFFFFF;
    padding: 5%;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
    box-shadow: 0px 0px 10px -4px #00000040;
    margin-bottom: 5px;
}

.item h1{
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: left;
}

.item h3{
    font-family: var(--font-roboto);
    font-size: 15px;
    font-weight: 50;
    line-height: 17.58px;
    text-align: left;
}

.item p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

.img-item{
    width: 100%;
    height: auto;
}

.btt-bar{
    background-color: white;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 92px;
    color: var(--font-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
}

.btt-bar-button{
    width: 364px;
    height: 61px;
    border-radius: 50px;
    opacity: 0px;
    border: 1px;
    border-color: #CBCBCB;
    box-shadow: none;
    background-color: #CBCBCB;

    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    letter-spacing: 0.018em;
    text-align: center;

}

.itens::-webkit-scrollbar{
    display: none; /* Safari and Chrome */
}

.modal{
    display: flex;
    flex-direction: column;
    background-color:#50D074;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 91.06%;
    height: 253px;
    justify-items: center;
    align-items: center;

    box-shadow: 0px 0px 10px 1px #00000040;

    border-radius: 9px;
    opacity: 0px;
}

.conteudo_modal{
    display: flex;
    flex-direction: column;
    padding: 21px;
    color: white;
}

.modal h2{
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 25.78px;
    text-align: center;
}

.modal a{
    text-decoration: none;
    color: inherit;
    color:#50D074;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 25.78px;
    letter-spacing: 0.018em;
    text-align: center;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 100px;
    border-color: white;
    background-color: white;
    opacity: 0px;

}

.modal button{
    display: block;
    font: inherit;
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 23.44px;
    letter-spacing: 0.018em;
    text-align: center;
    padding-top: 8px;
}

.resumoPedido{
    margin: 10px;
}

.resumoPedido p{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 25.78px;
    letter-spacing: 0.018em;
    text-align: center;
}

.selecionado{
    outline: 9px solid #32B72F;
    outline-offset: -9px;
    box-shadow: 0px 0px 0px 5px #32B72F inset;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.selecionado-footer{
    background: #32B72F;
}

.hidden {
    display: none;
}
